<main>
    <!--? Hero Start -->
    <div class="slider-area2">
        <div class="slider-height2  d-flex align-items-center">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="hero-cap hero-cap2 text-center">
                            <h2>Cases we solve</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Hero End -->
    <!--? Services Ara Start -->
    <div class="services-area section-padding30">
        <div class="container">
            <div class="row align-items-end mb-50">
                <div class="cl-xl-6 col-lg-6 col-md-10">
                    <!-- Section Tittle -->
                    <div class="section-tittle ">
                        <span>our recent work</span>
                        <h2>Reliable, Effective & Wining Law For Customers</h2>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6">
                    <div class="properties__button">
                        <!--Nav Button  -->
                        <nav>
                            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home"
                                    role="tab" aria-controls="nav-home" aria-selected="true">Accident Law </a>
                                <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile"
                                    role="tab" aria-controls="nav-profile" aria-selected="false"> Health Law</a>
                                <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact"
                                    role="tab" aria-controls="nav-contact" aria-selected="false"> Insurance Law </a>
                            </div>
                        </nav>
                        <!--End Nav Button  -->
                    </div>
                </div>
            </div>
            <!-- Nav Card -->
            <div class="tab-content" id="nav-tabContent">
                <!-- card one -->
                <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-10">
                            <div class="single-services mb-100">
                                <div class="services-img">
                                    <img src="assets/img/gallery/services1.png" alt="">
                                </div>
                                <div class="services-caption">
                                    <span>Car Accident Law</span>
                                    <p><a href="cases_details.html">Within the construction industry as their
                                            overdraft</a></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-10">
                            <div class="single-services mb-100">
                                <div class="services-img">
                                    <img src="assets/img/gallery/services2.png" alt="">
                                </div>
                                <div class="services-caption">
                                    <span>Car Accident Law</span>
                                    <p><a href="cases_details.html">Construction industry as their over draft for
                                            critical law</a></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-10">
                            <div class="single-services mb-100">
                                <div class="services-img">
                                    <img src="assets/img/gallery/services3.png" alt="">
                                </div>
                                <div class="services-caption">
                                    <span>Car Accident Law</span>
                                    <p><a href="cases_details.html">Retail banks wake up to digital lending this
                                            year</a></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-10">
                            <div class="single-services mb-100">
                                <div class="services-img">
                                    <img src="assets/img/gallery/services4.png" alt="">
                                </div>
                                <div class="services-caption">
                                    <span>Car Accident Law</span>
                                    <p><a href="cases_details.html">Within the construction industry as their
                                            overdraft</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Card two -->
                <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-10">
                            <div class="single-services mb-100">
                                <div class="services-img">
                                    <img src="assets/img/gallery/services1.png" alt="">
                                </div>
                                <div class="services-caption">
                                    <span>Car Accident Law</span>
                                    <p><a href="cases_details.html">Within the construction industry as their
                                            overdraft</a></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-10">
                            <div class="single-services mb-100">
                                <div class="services-img">
                                    <img src="assets/img/gallery/services2.png" alt="">
                                </div>
                                <div class="services-caption">
                                    <span>Car Accident Law</span>
                                    <p><a href="cases_details.html">Construction industry as their over draft for
                                            critical law</a></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-10">
                            <div class="single-services mb-100">
                                <div class="services-img">
                                    <img src="assets/img/gallery/services3.png" alt="">
                                </div>
                                <div class="services-caption">
                                    <span>Car Accident Law</span>
                                    <p><a href="cases_details.html">Retail banks wake up to digital lending this
                                            year</a></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-10">
                            <div class="single-services mb-100">
                                <div class="services-img">
                                    <img src="assets/img/gallery/services4.png" alt="">
                                </div>
                                <div class="services-caption">
                                    <span>Car Accident Law</span>
                                    <p><a href="cases_details.html">Within the construction industry as their
                                            overdraft</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Card three -->
                <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-10">
                            <div class="single-services mb-100">
                                <div class="services-img">
                                    <img src="assets/img/gallery/services1.png" alt="">
                                </div>
                                <div class="services-caption">
                                    <span>Car Accident Law</span>
                                    <p><a href="cases_details.html">Within the construction industry as their
                                            overdraft</a></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-10">
                            <div class="single-services mb-100">
                                <div class="services-img">
                                    <img src="assets/img/gallery/services2.png" alt="">
                                </div>
                                <div class="services-caption">
                                    <span>Car Accident Law</span>
                                    <p><a href="cases_details.html">Construction industry as their over draft for
                                            critical law</a></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-10">
                            <div class="single-services mb-100">
                                <div class="services-img">
                                    <img src="assets/img/gallery/services3.png" alt="">
                                </div>
                                <div class="services-caption">
                                    <span>Car Accident Law</span>
                                    <p><a href="cases_details.html">Retail banks wake up to digital lending this
                                            year</a></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-10">
                            <div class="single-services mb-100">
                                <div class="services-img">
                                    <img src="assets/img/gallery/services4.png" alt="">
                                </div>
                                <div class="services-caption">
                                    <span>Car Accident Law</span>
                                    <p><a href="cases_details.html">Within the construction industry as their
                                            overdraft</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Nav Card -->
        </div>
    </div>
    <!-- Services Ara End -->
</main>